.markdown {

  ul, ol {
    padding-left: 30px;
  }

  img {
    max-width:100%;
  }

  .anchor {
    text-decoration: none;
    position: absolute;
    margin-left: -1.7em;
    padding-left: 1.7em;
    outline: none;
    color: $baseTextColor;

    &:hover {
      text-decoration: none;
    }
  }

  h1, h2, h3,
  h4, h5, h6 {

    line-height: 1.3;

    &:hover .header-link {
      visibility: visible;
    }
  }

  blockquote {
    border-left: 6px solid black;
    margin-left: 0;
    padding-left: 1em;
  }
}

.header-link {
  @extend .icon-link;
  margin-left: -2.2em;
  visibility: hidden;
  font-size: 16px;
  @include breakpoint(big-phone) {
    font-size: 14px;
  }
  @include breakpoint(small-phone) {
    font-size: 12px;
  }
}

code:not([data-gist-id]) {
  background:#000;
  padding: 0 0.2em;
  @include border-radius(3px);
  display: inline-block;
  margin: 0 0.2em;
  font-family: $codeFont;
}

.markdown pre {
  font-family: $codeFont;
  overflow: auto;
  margin: 1em 0;

  pre {
    margin: 0;

  }

  code {
    border: 0;
    padding: 0;
    display: block;
    background:transparent;
    @include border-radius(0);
  }
}

@mixin codeFontSize{
  font-size: 0.85em;
  @include breakpoint(small-phone) {
    font-size: 0.80em;
  }
}

.highlight {
  width: 100%;
  @include border-radius(3px);

  pre {
    padding: 15px;
    margin-bottom: 0;
    tab-size:4;
    font-family: $codeFont;
    @include codeFontSize;
  }
}

@mixin filter( $var ){
  -webkit-filter: $var;
  -moz-filter: $var;
  -ms-filter: $var;
  -o-filter: $var;
  filter: $var;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gist{
  .gist-syntax .highlight{
    @include border-radius(0);
  }

  .gist-file{
    border:0;
    overflow: hidden;
    .gist-data{
      background-color: transparent;
      border-bottom:0;
      .line-numbers{
        @include codeFontSize;
        @include filter(unquote("invert()"));
        border-right: 0;
        width: 1em;
      }
      .line-data{
        text-indent: 0.5em;
      }
    }
    .gist-meta{
      @include filter(unquote("invert()"));
      @include codeFontSize;
      padding: 0.2em 10px;
    }
  }
}