nav {
  border-bottom: 1px solid black;
  margin-bottom: 1.2em;

  a {
    color: $offWhite;
    text-decoration: none;
  }
}

.name {
  float: left;
  font-weight: normal;
  font-size: 1.4em;
  margin: 0;
  padding: 10px 0;
  span{
    color: $baseLinkColor;
  }
}

.nav-links {
  margin: 0;
  list-style: none;
  float: right;
  padding: 12px 0 0;

  li {
    float: left;
    padding-right: 1.7em;
    &:last-of-type{
      padding-right: 0;
    }

    a{
      @include btn;
      line-height: 1.9;
    }
  }
}
