.post-head {
  border-top: 1px solid gainsboro;
  padding-top: 0.6em;
  &:first-of-type{
    border-top: 0;
    padding-top: 0;
  }

  padding-bottom: 5px;

  a {
    text-decoration: none;
  }
}

.post-title {
  margin: 15px 0;
  font-weight: normal;
  font-size: 2em;
}

.post-detail {
  color: $lightTextColor;
  background: rgba(0,0,0,.1);
  padding:5px;
  @include border-radius(3px);
  font-size:0.9em;
  a{
    color: $baseLinkColor;
  }
  dt,dd{
    display:inline;
    margin:0;
  }
  dt:after{
    content:":";
    display:inline;
  }
  dd:after{
    content:"";
    display:block;
  }
}

.post-body {
  margin-bottom: 0.6em;
  padding-bottom: 0.6em;
  line-height: 1.9;

  margin-left: 13px;

  p a{
    color: $baseLinkColor;
  }

  img {
    max-width: 100%;
  }

  h1, h2, h3, h4, h5, h6{
    font-weight: normal;
  }

  h2{
    border-left: 3px solid $baseLinkColor;
    padding-left: 10px;
    margin-top: 2em;
    padding-top: 1px;
    &:first-of-type{
      margin-top: 0.6em;
    }

    margin-left: -13px;
  }
  h3{
    border-left: 1px dashed $baseLinkColor;
    padding-left: 11px;
    margin-left: -12px;
  }
  p+h3{
    margin-top: 1.8em;
  }

}

.post-more{
  display:inline-block;
  font-size:0.9em;
  text-decoration: none;
  background: rgba(255,255,255,.1);
  padding:0 0.3em;
  @include border-radius(3px);
}