.post-head {
  padding-bottom: 5px;

  a {
    text-decoration: none;
  }
}

.post-title {
  margin: 15px 0;
  font-weight: normal;
  font-size: 2em;
}

.post-detail {
  color: $lightTextColor;
  background: rgba(0,0,0,.1);
  padding:5px;
  @include border-radius(3px);
  font-size:0.9em;
  a{
    color: #d22ac5;
  }
  dt,dd{
    display:inline;
    margin:0;
  }
  dt:after{
    content:":";
    display:inline;
  }
  dd:after{
    content:"";
    display:block;
  }
}

.post-body {
  margin-bottom: 0.6em;
  padding-bottom: 0.6em;
  line-height: 1.65em;
  border-bottom: 1px solid gainsboro;

  p a{
    color: #d22ac5;
  }

  img {
    max-width: 100%;
  }
}

.post-more{
  display:inline-block;
  font-size:0.9em;
  text-decoration: none;
  background: rgba(255,255,255,.1);
  padding:0 0.3em;
  @include border-radius(3px);
}