.side{
  width: 190px;
  @include box-sizing(border-box);
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  @include breakpoint(small-phone) {
    width: 100%;
    position: static;
  }

  background: rgba(0,0,0,.1);

  h2{
    padding-top:0.6em;
    border-top:1px solid black;
    font-size:1em;
    font-weight: normal;
    &:first-of-type{
      border-top: 0;
      padding-top: 0;
      margin-top:0.2em;
    }
  }
  ul, li{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  a{
    color: $baseLinkColor;
    text-decoration: none;
  }
  .about{
    font-size:0.8em;
    strong{
      display:block;
      font-size:1.1em;
    }
    .photo{
      width: 80px;
      height: auto;
      @include breakpoint(small-phone) {
        margin-right: 5px;
        margin-bottom: 5px;
        float:left;
      }
    }
    .account{
      @include breakpoint(small-phone) {
        clear:left;
      }
      li{
        @include breakpoint(small-phone) {
          display: inline-block;
          margin-right: 0.5em;
        }
        white-space: nowrap;
      }
    }
    .account a{
      font-size:0.9em;
      padding-left: 0.2em;
      @include breakpoint(small-phone) {
        font-size:1.1em;
      }
    }
  }
  .tags{
    display:inline-table;
    li{
      display:inline-block;
      padding-right: 5px;
      margin-right: 5px;
      border-right: 1px solid rgba(0,0,0,.3);
      &:last-of-type{
        border:0;
      }
    }
  }
  .recent{
    li{
      padding-bottom:0.3em;
      margin-bottom:0.3em;
      border-bottom: 1px solid rgba(0,0,0,.3);
    }
  }
}