<div class="post-head group">
  <a href="<%= data.baseUrl %><%= post.url %>">
    <h1 class="post-title"><%= post.title %></h1>
  </a>
  <span class="post-date"><%= 'Published ' + post.date.toLocaleDateString().split(',').slice(1).join(',') %></span>
</div>
